.container-navbar {
    background-color: blueviolet;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
    border-style:dotted;
    border-color: chartreuse;
    height: 45vw;


}