#root {
  margin: 0 ;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--cor-2);
}

.container-app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container-header-app{
  width: 100%;
  height: 30%;
  
}


